
.features{
  
  background-color: rgb(255, 255, 255);
  margin-top: 235px;
  width: 1450px;
  height: 1000px;
  border-top-left-radius: 23px;  /* Round top-left corner */
  border-top-right-radius:23px;
  z-index: 2;
  position: relative;
  background-color: rgb(250, 250, 250);
  
  

}